:concurrency: 3
:timeout: 60
:verbose: true
:scheduler:
  :schedule_file: config/sidekiq_scheduler.yml
:queues:
  - critical
  - default
  - mailers
  - active_storage_analysis
  - active_storage_purge
